<h2 class="title is-2">All Personalites</h2>
<ul class="ml-5">
    <% @personalities.each do |personality|%>

    <li>
        <%= link_to personality.personality, personality %>
    </li>



    <% end %>
</ul>
