<h2 class="title is-2">All Villagers</h1>
<ul class="ml-5">
    <% @villagers.each do |villager|%>

    <li>
        <%= link_to villager.name, villager %>
    </li>

    <figure class="image is-128x128">
        <img src=<%= villager.icon_image %>>
    </figure>


    <% end %>
</ul>
